@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #f09690;
  font-family: 'Poppins', sans-serif;
}

header {
  position: relative;
  width: 100%;
  padding: 30px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background-color: #fff;
}

header h2 {
  color: rgb(209, 43, 21);
  font-size: 30px;
  text-decoration: none;
  font-weight: 800;
  font-style: italic;
  letter-spacing: 1px;
}

header .navigation {
  display: flex;
  color: #000;
}

header .navigation a {
  color: #000;
  text-decoration: none;
  font-weight: 500;
  letter-spacing: 1px;
  padding: 2px 15px;
  border-radius: 20px;
  transition: 0.3s;
  transition-property: background;
  margin-right: 30px;
}
header .navigation a:not(:last-child ){
    margin-right: 30px
}    
header .navigation a:hover {
  background: #fff;
}

.content {
  max-width: 650px;
  margin: 60px 100px;
}

.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #bbdefb;
  height: 100%;
  padding: 15px;
  gap: 5px;
}

.search-container input[type="text"] {
  padding: 20px;
  font-size: 18px;
  margin-right: 8px;
  width: 50%;
  border: none;
  background: rgb(221, 216, 216);
  border-radius: 50px;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
}

.search-container #search-btn {
  padding: 8px 16px;
  background-color: rgb(209, 43, 21);
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.search-container #search-btn:hover {
  background-color: rgba(209, 43, 21, 0.8);
}

.media-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.media-icons a {
  position: relative;
  color: #111;
  font-size: 25px;
  transition: 0.3s;
  transition-property: transform;
  margin-right: 60px;
}

.media-icons a:not(:last-child) {
  margin-right: 0;
}

.media-icons a:hover {
  transform: scale(1.5);
}
	
label{
    display: none;
  }

#check{
    z-index: 3;
    display: none;
  }

  /*Responsive styles*/
@media (max-width: 960px){
header .navigation{
        display: none;
    }

label{
        display: block;
        font-size: 25px;
        cursor: pointer;
        transition: 0.3s;
        transform-origin: color;
    }

label:hover{
        color:#fff
    }

label .close-btn{
        display: none;
    }

#check:checked ~ header .navigation{
        z-index: 2;
        position: fixed;
        background: #f09690;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

#check:checked ~header .navigation a{
        font-weight: 700;
        margin-right: 0%;
        margin-bottom: 50px;
        letter-spacing: 2px;

    }

 #check:checked ~header label .menu-btn{
    display: none;

    }
#check:checked ~header label .close-btn{
     z-index: 2;
     display: block;
     position: fixed;

    }
label .menu-btn{
        position: absolute;
     }
    }